<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="shortcut icon" href="images/favicon.png">
<link rel="icon" href="images/favicon.png">
<link type="text/css" rel="stylesheet" href="/qis/qis_style.css">
<link type="text/css" rel="stylesheet" href="/form_style.css">
<style>
.test_css{
	padding-left:10px;
	font-size:13px;
	font-weight:bolder;
	color: #003399;
	background-color:#C0DAE4;
}
</style>
<script type="text/JavaScript" src="/state.js"></script>
<script type="text/javascript">
var flag = '<% get_parameter("flag"); %>';

var new_ifWANConnect = 0;
var new_wan_link_str = "";
var detectType = "";
var new_wan_status_log = "";
var new_detect_wan_conn = "";

var wantype = '<% nvram_get_x("Layer3Forwarding", "wan_proto"); %>';

var MAX_proceeding = 10;
var proceeding_time = 1;

function QKDetect_load_body(){
	if(parent.document.redirectForm.cacheflag.value != ""){
		flag = parent.document.redirectForm.cacheflag.value;
		parent.document.redirectForm.cacheflag.value = "";
	}

	parent.document.title = "ASUS Wireless Router <#Web_Title#> - <#QKSet_detect_sanglass#>";
	hideLinkTag();
	flash_button();
	setTimeout("getWANStatus();", 1000);
	
	if(flag == "verify_detect")
		$("DETECT_TITLE").innerHTML = "<#QKSet_detect_desc2#>";
	else
		$("DETECT_TITLE").innerHTML = "<#QKSet_detect_desc1#>";
	$("DETECT_TITLE").style.visibility = "visible";

	setTimeout("check_response();", 5000);
}

function check_response(){
	if($('proceeding_times').innerHTML == "1" && $('wanfault').style.display == 'none'){
		parent.document.redirectForm.cacheflag.value = flag;
		refreshpage();
	}
	else
		setTimeout("check_response();", 5000);
}

function getWANStatus(){
	document.detectForm.action = "/result_of_get_changed_status_QIS.asp";
	document.detectForm.target = "detect_frame";
	document.detectForm.submit();
}

function set_changed_status(manually_stop_wan,
														ifWANConnect,
														wan_link_str,
														detect_dhcp_pppoe,
														wan_status_log,
														detect_wan_conn
														){
	this.new_ifWANConnect = ifWANConnect;
	this.new_wan_link_str = wan_link_str;
	this.detectType = detect_dhcp_pppoe;
	this.new_wan_status_log = wan_status_log;
	this.new_detect_wan_conn = detect_wan_conn;
}

function check_changed_status(){
	if(this.new_ifWANConnect == 0){
		faultstatus();
		return;
	}
	
	if(wantype != "static"){
		if(this.new_wan_link_str == "Disconnected"){
			if(this.wantype == "pppoe" && new_wan_status_log.indexOf("Failed to authenticate ourselves to peer") >= 0){
//			if((this.wantype == "pppoe" && new_wan_status_log.indexOf("Failed to authenticate ourselves to peer") >= 0)
//				|| (this.wantype != "pppoe" && this.detectType == "pppoe")){ // 2010.08 James.
				successstatus();
				return;
			}

			++proceeding_time;
		
			if(proceeding_time < MAX_proceeding){
				setTimeout("getWANStatus();", 1000);
				$('proceeding_times').innerHTML = proceeding_time;
				return;
			}
		}
	}
	
	else{
		if(new_detect_wan_conn == "1"){
			successstatus();
			return;
		}
		
		++proceeding_time;
		
		if(proceeding_time < MAX_proceeding){
			setTimeout("getWANStatus();", 1000);
			$('proceeding_times').innerHTML = proceeding_time;
			return;
		}		
	}

	successstatus();
}

function redirect_page(){
	parent.document.QKform.wan_proto.value = wantype;
	
	gotoPage(document.detectForm.next_page.value);
}

function successstatus(){
	if(new_wan_link_str == "Connected" && wantype != "static"){
		this.flag = "";
		document.detectForm.next_page.value = "/qis/QIS_internet_success.htm";
	}
	else if(wantype == "static"){
		if(new_detect_wan_conn == "1"){
			this.flag = "";
			document.detectForm.next_page.value = "/qis/QIS_internet_success.htm";
		}
		else{
			document.detectForm.flag.value = "auto_way";
		
			document.detectForm.action = "/qis/QIS_internet_ip.htm";
			document.detectForm.target = "";
		
			document.detectForm.submit();
			return;
		}
	}
	else if(this.flag == "verify_detect"){
		if(new_wan_status_log.indexOf("Failed to authenticate ourselves to peer") >= 0)
			this.flag = wantype+"_wrong_input";
		else
			this.flag = wantype+"_wrong_response";
		
		document.detectForm.next_page.value = "/qis/QIS_internet_success.htm";
	}
	else if(detectType == "dhcp"){
		if(wantype != "dhcp" && wantype != "static"){
			wantype = "dhcp";
			submitForm("detect");
			return;
		}
		else{
			document.detectForm.flag.value = "auto_way";
			
			document.detectForm.action = "/qis/QIS_internet_ip.htm";
			document.detectForm.target = "";
			
			document.detectForm.submit();
			return;
		}
	}
	else if(detectType == "pppoe"){
		/*wantype = detectType;
		
		document.detectForm.next_page.value = "/qis/QIS_internet_account.htm";//*/
		document.detectForm.flag.value = "auto_way_pppoe";
		
		document.detectForm.action = "/qis/QIS_internet_account.htm";
		document.detectForm.target = "";
		
		document.detectForm.submit();
		return;
	}
	else{
		document.detectForm.flag.value = "auto_way_static";
		
		document.detectForm.action = "/qis/QIS_internet_ip.htm";
		document.detectForm.target = "";
		
		document.detectForm.submit();
		return;
	}
	
	redirect_page();
}

function faultstatus(){
	blocking('wanfault', true);
	blocking('waitarea', false);
	blocking('fresharea', true);
	blocking('skiparea', false);
}

function APstatus(){
	blocking('wanfault', false);
	blocking('waitarea', false);
	blocking('fresharea', false);
	blocking('skiparea', false);
	blocking('AParea', true);
	
	gotoPage(document.detectForm.next_page.value);
}

function gotoPage(destURL){
	with(document.redirectForm){
		action = destURL;
		if(this.flag.length > 0)
			flag.value = this.flag;
		
		submit();
	}
}

function submitForm(flag){
	parent.showLoading();
	
	document.detectForm.action = "/start_apply.htm";
	document.detectForm.target = "";
	
	document.detectForm.current_page.value = "/QIS_wizard.htm";
	document.detectForm.next_page.value = "/QIS_wizard.htm";
	document.detectForm.sid_list.value = "Layer3Forwarding;IPConnection;General;";
	document.detectForm.flag.value = flag;
	
	document.detectForm.action_mode.value = " Apply ";
	document.detectForm.wan_proto.value = wantype;
	
	document.detectForm.x_Setting.value = '<% nvram_get_x("General", "x_Setting"); %>';
	
	$("x_DHCPClient").disabled = false;
	$("wan_dnsenable_x").disabled = false;
	$("x_Setting").disabled = false;
	
	document.detectForm.submit();
}
</script>
</head>

<body onLoad="QKDetect_load_body();" onunload="no_flash_button();">
<iframe name="detect_frame" id="detect_frame" src="" width="0" height="0" frameborder=0></iframe>

<form method="post" name="detectForm" action="/result_of_get_changed_status_QIS.asp" target="">
<input type="hidden" name="prev_page" value="QIS_detect.htm">
<input type="hidden" name="current_page" value="/qis/QIS_detect.htm">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="flag" value="verify_detect">
<input type="hidden" name="sid_list" value="">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="preferred_lang" value="<% nvram_get_x("","preferred_lang"); %>">

<input type="hidden" name="wan_proto" value="">
<input type="hidden" name="detectWAN" value="">
<input type="hidden" name="x_DHCPClient" id="x_DHCPClient" value="1" disabled>
<input type="hidden" name="wan_dnsenable_x" id="wan_dnsenable_x" value="1" disabled>
<input type="hidden" name="x_Setting" id="x_Setting" value="" disabled>

<div class="QISmain">
  <div id='waitarea'>
  <div class="description_down" id="DETECT_TITLE" style="visibility:hidden;"></div>
  <br/><br/>
    <table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
	  <tr>
		<td align="right">
			<img src="/images/survey/connecting.gif"></span>
		</td>	  
		<td class="test_css">
			<strong><span><#QKSet_detect_waitdesc#></span></strong><br>
			<#QKSet_detect_timedesc1#> <span id="proceeding_times">1</span> <#QKSet_detect_timedesc2#>
		</td>
	  </tr>
    </table>
  </div>
  
  <div id='AParea' style='display:none'>
    <table id="tblsetting_2" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
	  <tr Height="50"><td></td></tr>
	  <tr><td class="description_down"><#QKSet_detect_APdesc#></td></tr>
	</table>
  </div>
  
  <div id='wanfault' style='display:none'>
   <div class="description_down"><#QKSet_detect_wanconnfault#></div>
    <table id="tblsetting_3" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
	  <tr>
    	<td align="center">
    	  <img src="/images/WANunplug.gif" width="320" height="220" style="border:3px double #666;" />
		</td>
	  </tr>
	</table>
  </div>
</div>

<div id="fresharea" class='QISfoot' style="display:none"> 
  <input type="button" class="sbtn" width="72"  onclick="gotoPage('QIS_detect.htm');" value="<#QKSet_detect_freshbtn#>">
  <input type="button" class="sbtn" width="72"  onclick="parent.location.href='/';" value="<#CTL_Setting#>">
</div>

<div id="skiparea"  class="QISfoot">
  <input type="button" class="sbtn" onclick="gotoPage('/qis/QIS_internet_type.htm');" value="<#QKSet_detect_skipbtn#>">
</div>

</form>

<form method="post" name="redirectForm" action="">
<input type="hidden" name="flag" value="">
</form>
</body>
